.leaflet-container {
  height: 400px;
  width: 100%;
}

.unstyled-button {
  border: none;
  padding: 2 px;
  background: none;
}
.bg {
  background-image: url(/icons/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
